[project]
	state = active
[access]
	inheritFrom = CyanogenMod/android_device_htc_m7-common
[access "refs/heads/*"]
	owner = group Administrators
	create = group htcdlx maintainers
	push = +force group htcdlx maintainers
	label-Code-Review = -2..+2 group htcdlx maintainers
	label-Verified = -1..+1 group htcdlx maintainers
	submit = group htcdlx maintainers
